.header {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(45, 45, 45);
  background: linear-gradient(
    90deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(0, 33, 113, 1) 0%,
    rgba(1, 11, 85, 1) 85%,
    rgba(18, 18, 18, 1) 100%
  );
}

.header h1 {
  margin-left: 30px;

  color: white;
  letter-spacing: 2px;
}

.header button {
  margin-right: 50px;
  height: 30px;
  width: 200px;

  border-radius: 8px;
  background-color: white;
  outline: none;
  border: 1px solid #d1d1d1;
  color: rgba(0, 33, 113, 1);
}

.header button:hover {
  cursor: pointer;
}
